In [15]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error 
from math import sqrt

In [16]:
# read the dataset
df = pd.read_csv("qtrly_spending.csv")
df.head()

   CustID  Income  CCL_Tier  HH_Size  Qtrly_spending
0       1   60000         2        4           22943
1       2   90000         2        4           17139
2       3  100000         2        3           39956
3       4  110000         1        3           31241
4       5  140000         3        5           60478

In [17]:
df.shape

(20, 5)

In [18]:
df.isna().sum()

CustID            0
Income            0
CCL_Tier          0
HH_Size           0
Qtrly_spending    0
dtype: int64

In [19]:
df.dtypes

CustID            int64
Income            int64
CCL_Tier          int64
HH_Size           int64
Qtrly_spending    int64
dtype: object

In [20]:
# split dataset into features (X) and label (y)

In [21]:
X = df[['CustID','Income','CCL_Tier','HH_Size']]
y = df.Qtrly_spending

In [22]:
# ID column is not useful, s drop it
X.drop('CustID', axis=1, inplace=True)

C:\Users\ssridhar\AppData\Local\Temp\ipykernel_4928\2568368644.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.drop('CustID', axis=1, inplace=True)

In [23]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

X_scaled = scaler.fit_transform(X)
X_scaled = pd.DataFrame(X_scaled)

In [24]:
# assign column names from the original feature dataframe
X_scaled.columns = X.columns

In [25]:
X_scaled.head()

     Income  CCL_Tier  HH_Size
0  0.000000       0.5     0.75
1  0.130435       0.5     0.75
2  0.173913       0.5     0.50
3  0.217391       0.0     0.50
4  0.347826       1.0     1.00

In [27]:
# set K = 3
K = 3
model = KNeighborsRegressor(n_neighbors = K)
model.fit(X_scaled, y)  #fit the model
pred=model.predict(X_scaled) #make prediction on test set
error = np.sqrt(mean_squared_error(y,pred)) #calculate rmse
print('RMSE value for k= ' , K , 'is:', error)

RMSE value for k=  3 is: 23841.35644957215

In [76]:
# new record to predict for
# The ‘test’ Customer has Salary (70,000), Tier 2 and Household Size 2
df_test = pd.read_csv("test_Qtrly_spending.csv")
df_test

   CustID  Income  CCL_Tier  HH_Size
0      21   70000         2        2

In [77]:
X_test = df_test.drop('CustID',axis=1)
X_test

   Income  CCL_Tier  HH_Size
0   70000         2        2

In [78]:
# scaler has the minmax fit

X_test_scaled = scaler.transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled)
# assign column names from the original feature dataframe
X_test_scaled.columns = X_test.columns
X_test_scaled

     Income  CCL_Tier  HH_Size
0  0.043478       0.5     0.25

In [79]:
# predict the Qtrly spending for this record
pred=model.predict(X_test_scaled) 
pred

array([26679.33333333])