In [9]:
import numpy as np
import pandas as pd
import random
import warnings

In [10]:
warnings.filterwarnings("ignore")

In [25]:
experience=np.arange(1,10,1)
degree=['bt','mba','bba']
pay_list = np.arange(500,1000,50)
data=pd.DataFrame(columns=['exp','deg','pay'])
for _ in range(25):
    exp=float(random.choice(experience))
    deg=random.choice(degree)
    pay=int(random.choice(pay_list))
    data=data.append({'exp':exp,'deg':deg,'pay':pay},ignore_index=True)

In [26]:
data.head()

   exp deg  pay
0  8.0  bt  600
1  4.0  bt  750
2  9.0  bt  550
3  2.0  bt  650
4  7.0  bt  800

In [27]:
data.exp.unique()

array([8., 4., 9., 2., 7., 1., 5., 3., 6.])

In [28]:
data.deg.unique()

array(['bt', 'bba', 'mba'], dtype=object)

## 1 exp split

In [30]:
e_split=data.exp.mean()

In [31]:
e_split

4.96

In [39]:
r_mean=data[data['exp']>e_split]['pay'].mean()
l_mean=data[data.exp<=e_split]['pay'].mean()

l_counter=0
r_counter=0
for i,row in data.iterrows():
    if(row.exp>e_split):
        r_counter+=1
        r_error=((row.pay-r_mean)**2)
    else:
        l_counter+=1
        l_error=((row.pay-l_mean)**2)
total=l_counter+r_counter
overall=(l_counter/total)*(l_error/l_counter)+(r_counter/total)*(r_error/r_counter)
dat={'r_error':r_error/r_counter,'l_error':l_error/l_counter,'overall':overall}
df=pd.DataFrame(dat,index=[0])

In [40]:
df

     r_error      l_error      overall
0  58.309038  3472.952667  1560.752235

In [ ]:
## one split degree

In [44]:
def label_encode(degree):
    label = 0
    if(degree=="bt"):
       label = 2
    elif(degree=='bba'):
       label = 3
    elif(degree=="mba"):
       label = 1
    return label

In [47]:
data['label_deg']=data.deg.apply(lambda x: label_encode(x))

In [49]:
d_split=data.label_deg.mean()

In [50]:
d_split

2.12